---
import { Image } from "astro:assets";
import chessImage from "../../images/chess4.png";
---

<div class="w-full swiper-body">
  <div class="swiper">
    <div class="swiper-wrapper">
      <Image class="swiper-slide w-full h-full" src={chessImage} alt="" />
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>

<style>
  .swiper-body {
    position: relative;
    height: 400px;
    margin: auto;
    max-width: 22vw;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<script src="../../libs/simpleSider.js"></script>
