---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Курс по созданию шахмат">
  <div class="container">
    <h2>Пользовательское соглашение.</h2>
    <p>
      Настоящее пользовательское соглашение (далее – Соглашение) регулирует
      отношения, возникающие при использовании Интернет-ресурса
      <a href='https://www.chessmartashop.com/'>https://www.chessmartashop.com/</a> (далее – Сайт) и покупке услуг с помощью
      данного Сайта каждым лицом, без регистрации в порядке, предусмотренном
      настоящим Соглашением. Настоящее Соглашение заключается на приведенных
      ниже условиях, содержащих все существенные условия договора оказания
      услуг, между Индивидуальным предпринимателем Воскресенской Мартой
      Георгиевной (127287, Москва, ул. Хуторская 2-я, д. 38А, стр. 26, ОГРН
      323861700104465), который осуществляет свою деятельность посредством Сайта
      (далее – Исполнить), и любым физическим лицом или любым юридическим лицом
      (далее по тексту «Заказчик»), использующего возможности Сайта без
      прохождения процедуры регистрации в порядке, установленном настоящим
      Соглашением. Вместе Заказчик и Исполнитель именуются Стороны. Условия
      Соглашения Сторонами принимаются безоговорочно без дополнительного
      обсуждения условий. Стороны обязуются строго и неукоснительно соблюдать
      все условия настоящего Соглашения.
    </p>
    <p>
      Настоящее Соглашение признается публичной офертой в соответствии с п. 2
      ст. 437 Гражданского кодекса Российской Федерации. Акцепт оферты
      осуществляется Пользователем во время фактического использования сервисов
      Сайта, в том числе ознакомление с каталогом услуг, реализуемых на Сайте,
      осуществление покупки, без прохождения процедуры регистрации означает его
      согласие с условиями настоящего Соглашения и их принятие. Без принятия
      условий настоящего Соглашения Пользователь не может пользоваться
      предоставляемыми Сайтом услугами, осуществлять покупки. Стороны
      договорились, что проставление отметки Пользователем в специально
      отведенном поле при оформлении заказа означает ознакомление Пользователя
      со всем текстом Соглашения, полное и безоговорочное принятие его условий.
      При несогласии с каким-либо условием настоящего Соглашения или с его
      текстом в полном объеме Пользователь обязан прекратить пользование Сайтом.
    </p>
    <p></p>
    <p>1. Описание услуг Сайта.</p>
    <p>
      1.1. Исполнитель обязуется оказывать Пользователю услуги по обеспечению
      доступа к Сайту, к каталогам услуг, реализуемых с помощью Сайта, к другим
      разделам и сервисам Сайта, а Пользователь обязуется пользоваться
      предоставляемыми услугами в соответствии с условиями настоящего
      Соглашения. При заказе Пользователем услуг Исполнитель обязуется
      предоставить доступ к выбранной услуге, а Пользователь обязуется принять
      услугу и оплатить установленную за нее цену в порядке и на условиях,
      предусмотренных настоящим Соглашением и положениями действующего
      законодательства. Реализуемые на Сайте услуги являются интеллектуальной
      собственностью Исполнителя и передаются Заказчику для использования в
      личных некоммерческих целях. При использовании Заказчиком услуг
      Исполнителя для извлечения прибыли он несет ответственность в соответствии
      с действующим законодательством Российской Федерации.
    </p>
    <p>
      1.2. С помощью Сайта осуществляется продажа эксклюзивного курса по
      изготовлению шахмат из дерева и эпоксидной смолы, а также эксклюзивного
      курса по изготовлению шахмат только из эпоксидной смолы без дерева.
    </p>
    <p>
      1.3. На Сайте реализована возможность осуществления покупок без
      прохождения процедуры регистрации. В любом случае Заказчик предоставляет
      Исполнителю свои фамилию, имя, отчество, адрес электронной почты,
      контактный телефон, аккаунт Телеграмм.
    </p>
    <p>
      1.4. Осуществляя Заказ, Заказчик соглашается с тем, что Исполнитель может
      поручить исполнение договора третьему лицу, при этом оставаясь
      ответственным за его исполнение.
    </p>
    <p>
      1.5. Договор оказания услуг считается заключенным с момента выдачи
      Исполнителем Заказчику кассового или товарного чека либо иного документа,
      подтверждающего оплату товара.
    </p>
    <p></p>
    <p>2. Порядок приобретения услуг на Сайте.</p>
    <p>
      2.1. Исполнитель оказывает услуги дистанционно при помощи
      информационно-телекоммуникационной сети Интернет .
    </p>
    <p>
      2.2. Услуги могут быть оказаны Исполнителем как лично, так и с
      привлечением третьих лиц. Необходимость привлечения третьих лиц и их
      кандидатуры определяются Исполнителем по собственному усмотрению .
    </p>
    <p>
      2.3. Обучающие материалы Курса предоставляются Заказчику «как есть». .
    </p>
    <p>2.4. Порядок оказания услуг по обучению на Курсе.</p>
    <p>
      2.4.1. Услуги оказываются одновременно нескольким Заказчикам, Заказчик
      понимает это и соглашается с данным условием.
    </p>
    <p>
      2.4.2. Дата начала оказания услуги определяется Исполнителем как момент
      полной оплаты обучения со стороны Заказчика. Срок доступа в закрытый
      телеграмм канал "__________" составляет 6 (шесть) месяцев с даты начала
      оказания услуги. В исключительных случаях (подтвержденная документально
      болезнь Заказчика или члена его семьи, переезд Заказчика в другой регион,
      действия органов государственной власти, военное положение, стихийные
      бедствия) Исполнитель по письменной просьбе Заказчика вправе (но не
      обязан) перенести начало обучения на согласованную с Заказчиком дату, но
      не более чем на один месяц.
    </p>
    <p>
      2.4.3. Для получения услуги Заказчику необходимо заполнить форму на Сайте.
      Обучающие материалы Курса размещаются Исполнителем в соответствующем
      закрытом телеграмм канале "__________", ссылка к которому направляется на
      адрес электронной почты Заказчика, указанный им при заполнении формы на
      сайте, не позднее дня начала оказания услуг по обучению на Курсе (п.2.4.2.
      настоящего Соглашения).
    </p>
    <p>
      2.4.4. Услуга по предоставлению доступа к курсу заключается в
      предоставлении Заказчику доступа к Видеоурокам, Методическим материалам
      Курса/Марафона/вебинара за плату.
    </p>
    <p>
      2.5. Приемка оказываемых по настоящему Соглашению услуг производится без
      подписания Акта об оказании услуг.
    </p>
    <p></p>
    <p>3. Права и обязанности Заказчика.</p>
    <p>3.1. Права Заказчика:</p>
    <p>
      3.1.1. Получать выбранные и оплаченные услуги в соответствии с условиями
      настоящего Соглашения.
    </p>
    <p>
      3.1.2. Принимать решения относительно необходимости совершения тех или
      иных действий, рекомендуемых Исполнителем в рамках оказания услуг по
      настоящемуСоглашению.
    </p>
    <p>3.2. Обязанности Заказчика:</p>
    <p>
      3.2.1. Своевременно и самостоятельно изучать Обучающие материалы,
      выполнять задания, знакомиться с информацией о проводимых Вебинарах,
      принимать участие в организованных Исполнителем Вебинарах.
    </p>
    <p>
      3.2.2. Следовать расписанию обучения и соблюдать рекомендации Исполнителя
      относительно обучения с учетом п. 3.2.1. настоящего Соглашения.
    </p>
    <p>
      3.2.3. Изучать уроки, предоставленные в рамках оплаченного Обучающего
      курса лично и своевременно.
    </p>
    <p>
      3.2.4. Своевременно предоставлять отчет о выполнении заданий в полном
      объеме и по форме, установленной Исполнителем
    </p>
    <p>
      3.2.5. Общаться с Исполнителем и другими лицами в процессе исполнения
      настоящего Соглашения корректно и цензурно.
    </p>
    <p>
      3.2.6. Для получения услуг самостоятельно настроить программное
      обеспечение, аппаратную часть и Интернет-канал своего персонального
      компьютера таким образом, чтобы иметь возможность беспрепятственно
      пользоваться всеми сервисами портала telegram.org и другими сервисами,
      которые используются в ходе оказания услуг.
    </p>
    <p>
      3.2.7. Обеспечить бесперебойную работу Интернет-канала, оборудования и
      программного обеспечения со своей стороны таким образом, чтобы иметь
      возможность беспрепятственно пользоваться всеми сервисами портала
      telegram.org и другими сервисами, которые используются в ходе
      предоставления услуг.
    </p>
    <p>
      3.2.8. С момента оплаты услуги ежедневно проверять указанную при
      регистрации на Сайте электронную почту, в том числе папку "Спам" на
      предмет получения сообщений от Исполнителя. В случае, когда направленное
      Исполнителем сообщение попадает в папку "Спам", оно считается полученным
      Заказчиком независимо от того, прочел ли его Заказчик.
    </p>
    <p>
      3.2.9. Указать лицо, которое будет проходить обучение на Курсе - в случае,
      если Заказчик является юридическим лицом или Индивидуальным
      предпринимателем, либо приобретает обучение для члена семьи (супруга,
      ребенка).
    </p>
    <p>
      3.2.10. Указать в личном кабинете достоверное Ф.И.О., эл. почту, телефон,
      город проживания, а также прикрепить скан паспорта, для целей
      идентификации личности обучающегося.
    </p>
    <p>
      3.2.11. По окончанию оказания услуги, предоставить Исполнителю обратную
      связь относительно качества работы куратора путем заполнения Анкеты (в
      случае если такая обратная связь запрашивается Исполнителем).
    </p>
    <p>
      3.3. Заказчик гарантирует предоставление Исполнителю полных и достоверных
      данных при заполнении регистрационной формы на Сайте. В случае, когда
      Заказчиком указаны недостоверные либо неполные данные, Исполнитель не
      несет ответственность перед Заказчиком за предоставление любой информации
      по ошибочно указанным данным не Заказчику, а третьим лицам, даже если в
      них содержится часть персональных данных Заказчика.
    </p>
    <p></p>
    <p>4. Права и обязанности Исполнителя.</p>
    <p>4.1. Права Исполнителя:</p>
    <p>
      4.1.1. Не приступать к оказанию услуг либо приостановить оказание услуг до
      устранения соответствующего нарушения при наличии любого из следующих
      оснований:
    </p>
    <p>
      4.1.1.1. нарушения Заказчиком сроков и иных условий оплаты услуг по
      настоящему Договору-оферте;
    </p>
    <p>
      4.1.1.2. предоставления Заказчиком недостоверной информации при заполнении
      формы на Сайте.
    </p>
    <p>
      4.1.1.3. Подозрение на передачу прав доступа Заказчиком третьим лицам.
    </p>
    <p>
      4.1.2. Осуществлять доступными ему и не противоречащими законодательству
      средствами контроль за соблюдением Исполнителем условий настоящего
      Соглашения.
    </p>
    <p>
      4.1.3. Использовать полученные от Пользователей персональные данные для
      надлежащего исполнения своих обязательств по настоящему Соглашению и
      улучшения качества обслуживания Пользователей, в том числе для проведения
      маркетинговых программ и исследований, информирования Заказчика об акциях
      и т.д.
    </p>
    <p>4.2. Обязанности Исполнителя:</p>
    <p>
      4.2.1. Оказывать оплаченные Заказчиком услуги надлежащим образом и в
      полном объеме в соответствии с условиями настоящего Соглашения.
    </p>
    <p>
      4.3. Исполнитель не гарантирует соответствие содержания оказываемых по
      настоящему Соглашению услуг ожиданиям Заказчика.
    </p>
    <p></p>
    <p>5. Ответственность.</p>
    <p>
      5.1. Исполнитель не несет ответственность за невозможность оказания услуг
      Заказчику по причинам, связанным с нарушением работы Интернет-канала,
      оборудования или программного обеспечения со стороны Заказчика, а также по
      любым другим причинам, препятствующим получению Заказчиком услуг,
      возникшим по вине Заказчика.
    </p>
    <p>
      5.2. Всю ответственность за незаконное использование информации, доступ к
      которой получает Заказчик в связи с исполнением настоящего
      Договора-оферты, несет Заказчик .
    </p>
    <p>
      5.3. Заказчик обязуется не предоставлять свои аутентификационные данные
      для доступа в закрытый телеграмм канал третьим лицам для их доступа к
      курсу, а также не предоставлять иными способами доступ к курсу третьим
      лицам (в том числе не обнародовать, не распространять Обучающие
      материалы). При выявлении факта доступа третьих лиц к Обучающим материалам
      (доступ к которым имел Заказчик на основании настоящей оферты), по
      требованию Исполнителя, направляемому на адрес электронной почты,
      указанной Заказчиком при регистрации на Сайте, Заказчик обязан оплатить
      штраф в размере 5.000.000 (пять миллионов) рублей. Размер штрафа
      обусловлен степенью возможного либо причиненного вреда правам и законным
      интересам Исполнителя, который многократно превышает стоимость Услуг,
      оплаченных Заказчиком по настоящему Договору-оферте. Требование
      Исполнителя о выплате штрафа подлежит немедленному удовлетворению в
      добровольном, досудебном порядке. В случае отказа либо неудовлетворения
      требования о выплате штрафа Заказчиком, Исполнитель вправе незамедлительно
      обратиться в суд для защиты нарушенного права, без соблюдения досудебного
      претензионного порядка урегулирования спора .
    </p>
    <p>
      5.4. Исполнитель не несет ответственность за действия банков, электронных
      платежных систем, обеспечивающих оплату и возвраты денежных средств при
      заключении, исполнении и расторжении настоящего Соглашения.
    </p>
    <p></p>
    <p>6. Порядок разрешения споров.</p>
    <p>
      6.1. Претензии Заказчика по оказываемым услугам принимаются Исполнителем к
      рассмотрению посредством электронной почты. Все претензии направляются
      Заказчиком с адреса электронной почты, указанной им при регистрации на
      Сайте, на адрес электронной почты Исполнителя, указанный на Сайте.
    </p>
    <p>
      6.2. Сторона, получившая мотивированную претензию, обязана дать на нее
      ответ в течение десяти календарных дней со дня получения .
    </p>
    <p>
      6.3. Направленные Исполнителю претензии рассматриваются в рамках
      действующего законодательства Российской Федерации
    </p>
    <p>
      6.4. Претензионный порядок разрешения разногласий является для Сторон
      обязательным. В случае не достижения согласия в ходе переговоров, споры
      будут разрешаться в судебном порядке в соответствии с действующим
      законодательством Российской Федерации
    </p>
    <p></p>
    <p>7. Иные условия.</p>
    <p>
      7.1. Исполнитель оставляет за собой право изменять или дополнять любые из
      условий настоящего Договора-оферты в любое время, опубликовывая все
      изменения на своем сайте. Если опубликованные изменения для Заказчика
      неприемлемы, то он в течение 7 календарных дней с момента опубликования
      изменений должен уведомить об этом Исполнителя письменно. Если уведомления
      не поступило, то считается, что Заказчик продолжает принимать участие в
      договорных отношениях на новых условиях.
    </p>
    <p>
      7.2. Стороны вправе расторгнуть или изменить настоящее Соглашение по
      взаимному согласию в любой момент до момента его фактического исполнения.
    </p>
    <p>
      7.3. В момент досрочного расторжения настоящего Соглашения доступ к курсу
      и любым другим материалам, предоставленным Исполнителем Заказчику в
      процессе исполнения настоящего Соглашения прекращается.
    </p>
    <p>
      7.4. Заказчик уведомлен, что возврат денежных средств за предоставленные
      услуги не производится, так как Заказчику предоставляется доступ ко всему
      основному материалу сразу.
    </p>
    <p></p>
    <p>8. Территория и срок действия</p>
    <p>
      8.1. Настоящее Соглашение действует с даты его заключения, которой
      считается дата акцепта Оферты Заказчиком, до даты исполнения обязательств,
      принятых на себя по настоящему Договору-оферте Сторонами.
    </p>
    <p>
      8.2. Настоящее Соглашение действует на территории всех стран мира и в
      интерактивной информационной сети Интернет.
    </p>
    <p></p>
    <p>9. Заключительные положения</p>
    <p>
      9.1. Исключительные и личные неимущественные права на Сайт и любые
      результаты интеллектуальной деятельности, размещенные на Сайте, а также
      все материалы, доступ к которым получает Заказчик при заключении и
      исполнении настоящего Соглашения, принадлежат Исполнителю (либо третьим
      лицам, предоставившим Исполнителю право их использования) и охраняются
      действующим Законодательством Российской Федерации.
    </p>
    <p>
      9.2. Любая информация, доступ к которой получает Заказчик в связи с
      получением услуг по настоящему Соглашению, не может копироваться,
      передаваться третьим лицам, тиражироваться, распространяться,
      пересылаться, публиковаться в электронной, «бумажной» или иной форме без
      дополнительных соглашений или официального письменного согласия
      Исполнителя.
    </p>
    <p>
      9.3. Исполнитель имеет право уступать права, переводить долги по всем
      обязательствам, возникшим из настоящего Соглашения. Настоящим Заказчик
      дает свое согласие на уступку прав и перевод долга любым третьим лицам. О
      состоявшейся уступке прав и/или переводе долга Исполнитель информирует
      Заказчика посредством направления соответствующего сообщения на адрес
      электронной почты Заказчика, указанной им при регистрации на Сайте.
    </p>
    <p>
      9.4. Электронный документооборот по адресам электронной почты, указанным
      Исполнителем в настоящем Соглашении, Заказчиком — в Заявке на регистрацию,
      приравнивается Сторонами к документообороту на бумажных носителях, если в
      тексте настоящего Соглашения прямо не предусмотрено иное.
    </p>
    <p>
      9.5. По всем вопросам, не урегулированным настоящим Соглашением, Стороны
      руководствуются действующим законодательством Российской Федерации.
    </p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p>Политика конфиденциальности</p>
    <p></p>
    <p>
      Настоящая Политика конфиденциальности действует в отношении всей
      персональной информации, которую Администрация сайта может получить о
      пользователе, являющемся физическим лицом, действующим от своего имени,
      либо юридическом лице.
    </p>
    <p>
      Настоящая Политика конфиденциальности сетевого ресурса
      https://www.chessmartashop.com/ основана на положениях Федерального закона
      152-ФЗ от 27.07.2006 г. «О персональных данных», регулирующего вопросы
      получения, систематизации, накопления, обобщения, обезличивания, хранения,
      обновления и изменения, использования, передачи, уничтожения персональных
      данных, как с использованием автоматизированной информационной системы,
      так и без таковой.
    </p>
    <p>
      Вне зависимости от принадлежности пользователя сайта к гражданству того
      или иного государства, применимым законодательством является право
      Российской Федерации.
    </p>
    <p></p>
    <p>1. ТЕРМИНОЛОГИЯ</p>
    <p>
      В настоящей Политике конфиденциальности используются следующая
      терминология:
    </p>
    <p>
      1.1. Сайт - принадлежащая Администрации сайта совокупность информации,
      текстов, графических элементов, дизайна, изображений, фото и
      видеоматериалов, иных результатов интеллектуальной деятельности, включая
      товарные знаки, сервисы, а также программы для ЭВМ, отраженная в виде
      страниц информационно - телекоммуникационной сети Интернет, расположенных
      по сетевому адресу и его доменному имени: https://www.chessmartashop.com/.
    </p>
    <p>
      Доступ к сайту обеспечивается с различных пользовательских устройств,
      подключенных к сети Интернет, посредством специального программного
      обеспечения для просмотра веб-страниц.
    </p>
    <p>
      1.2. Администрация сайта - Индивидуальный предприниматель Воскресенская
      Марта Георгиевна (127287, Москва, ул. Хуторская 2-я, д. 38А, стр. 26, ОГРН
      323861700104465), владеющий и управляющий Сайтом.
    </p>
    <p>
      1.3. Пользователь сайта (далее Пользователь) лицо, использующее Сайт с
      целью приобретения эксклюзивного курса по изготовлению шахмат из дерева и
      эпоксидной смолы.
    </p>
    <p>
      1.4. Персональные данные - любая информация, относящаяся прямо или
      косвенно к определенному или определяемому физическому лицу (субъекту
      персональных данных).
    </p>
    <p>
      1.5. Обработка персональных данных - любое действие (операция) или
      совокупность действий (операций), совершаемых с использованием средств
      автоматизации или без использования таких средств с персональными данными,
      включая сбор, запись, систематизацию, накопление, хранение, уточнение
      (обновление, изменение), извлечение, использование, передачу
      (распространение, предоставление, доступ), обезличивание, блокирование,
      удаление, уничтожение персональных данных.
    </p>
    <p>
      1.6. Конфиденциальность персональных данных - обязательное для соблюдения
      Администрацией сайта, Пользователем или иным получившим доступ к
      персональным данным лицом требование не допускать их распространения без
      согласия субъекта персональных данных или наличия иного законного
      основания.
    </p>
    <p></p>
    <p>2. ОБЩИЕ ПОЛОЖЕНИЯ</p>
    <p>
      2.1. Настоящая Политика конфиденциальности действует в отношении всей
      информации, которую Администрация сайта может получить о Пользователе, во
      время использования последним Сайта и каких-либо функций, предложенных на
      Сайте.
    </p>
    <p>
      На момент введения в действие настоящей Политики конфиденциальности,
      Администрация сайта осуществляет обработку следующих персональных данных:
    </p>
    <p>- фамилия, имя, отчество</p>
    <p>- номер телефона</p>
    <p>-адрес электронной почты.</p>
    <p>
      2.2. Использование Пользователем Сайта означает согласие с настоящей
      Политикой конфиденциальности и условиями обработки персональных данных
      Пользователя.
    </p>
    <p>
      2.3. В случае несогласия с условиями Политики конфиденциальности
      Пользователь обязан прекратить использование Сайта.
    </p>
    <p>
      2.4. Настоящая Политика конфиденциальности применяется непосредственно к
      Сайту. Администрация сайта не контролирует и не несет ответственность за
      сетевые ресурсы третьих лиц, на которые Пользователь может перейти по
      ссылкам, доступным на Сайте.
    </p>
    <p>
      2.5. Администрация Сайта не проверяет достоверность персональных данных,
      предоставляемых Пользователем.
    </p>
    <p></p>
    <p>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</p>
    <p>
      З.1. Настоящая Политика конфиденциальности устанавливает обязательства
      Администрации сайта по неразглашению и обеспечению режима защиты
      конфиденциальности персональных данных, которые Пользователь предоставляет
      при оформлении услуг Администрации на Сайте.
    </p>
    <p>
      3.2. Персональные данные, разрешенные к обработке в рамках настоящей
      Политики конфиденциальности, предоставляются Пользователем путем
      добровольного заполнения одной или нескольких форм обратной связи,
      регистрации, заявки или при использовании других функций, предложенных на
      Сайте.
    </p>
    <p>
      3.3. Любая иная персональная информация, не оговоренная выше, подлежит
      надежному хранению и нераспространению, за исключением случаев,
      предусмотренных в п. 5.2. и п. 5.3. настоящей Политики конфиденциальности.
    </p>
    <p></p>
    <p>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</p>
    <p>
      Администрация сайта может использовать персональные данные Пользователя в
      целях:
    </p>
    <p>
      4.1. Идентификации Пользователя, для оформления заказа и (или) заключения
      договора оказания услуг и его оплату.
    </p>
    <p>
      4.2. Предоставления Пользователю доступа к персонализированной информации.
    </p>
    <p>
      4.3. Установления с Пользователем обратной связи, включая: направление
      уведомлений, запросов, касающихся использования Сайта, оказания услуг,
      оплаты, обработки запросов и заявок от Пользователя.
    </p>
    <p>4.4. Обработки и получения платежей.</p>
    <p>
      4.5. Предоставления Пользователю клиентской и технической поддержки при
      возникновении проблем, связанных с использованием Сайта.
    </p>
    <p>
      4.6. Предоставления Пользователю, с его согласия, иных услуг, специальных
      предложений, информации о ценах, новостной рассылки и иных сведений от
      имени Администрации Сайта или от имени партнеров Администрации сайта.
    </p>
    <p>4.7. Осуществления рекламной деятельности.</p>
    <p>
      4.8. Предоставления доступа Пользователю на сайты или функции партнеров
      Администрации сайта с целью получения продуктов, обновлений, товаров и
      услуг.
    </p>
    <p></p>
    <p>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</p>
    <p>
      5.1. Обработка персональных данных Пользователя осуществляется без
      ограничения срока, любым законным способом, в том числе в информационных
      системах персональных данных с использованием средств автоматизации или
      без использования таких средств.
    </p>
    <p>
      5.2. Пользователь соглашается с тем, что Администрация сайта вправе
      передавать персональные данные третьим лицам, в частности, курьерским
      службам, почтовым сервисам, операторам электронной связи в целях
      выполнения заказов, заявок и просьб Пользователя.
    </p>
    <p>
      5.3. При утрате или разглашении персональных данных Администрация сайта
      информирует Пользователя о данном факте. Раскрытию персональных данных
      подлежит информация, требуемая органами правосудия, правоохранительными
      органами в рамках рассмотрения и расследования уголовных дел и в иных
      случаях, установленных Законом.
    </p>
    <p>
      5.4. Администрация сайта принимает необходимые организационные и
      технические меры для защиты персональной информации Пользователя от
      неправомерного или случайного доступа, уничтожения, изменения,
      блокирования, копирования, распространения, а также от иных неправомерных
      действий третьих лиц.
    </p>
    <p>
      5.5. Администрация сайта совместно с Пользователем принимает все
      необходимые меры по предотвращению убытков или иных отрицательных
      последствий, вызванных разглашением персональных данных Пользователя.
    </p>
    <p></p>
    <p>6. ОБЯЗАТЕЛЬСТВА СТОРОН</p>
    <p>6.1. Администрация сайта обязана:</p>
    <p>
      6.1.1. Использовать полученную информацию исключительно для целей,
      указанных в разделе 4 настоящей Политики конфиденциальности.
    </p>
    <p>
      6.1.2. Обеспечить хранение конфиденциальной информации в тайне, не
      разглашать без предварительного письменного разрешения Пользователя, а
      также не осуществлять продажу, обмен, опубликование, либо разглашение
      иными возможными способами переданных персональных данных Пользователя, за
      исключением пунктов 5.2. , 5.3. настоящей Политики Конфиденциальности.
    </p>
    <p>
      6.1.З. Принимать меры предосторожности для защиты конфиденциальности
      персональных данных Пользователя согласно порядку, обычно используемому
      для защиты такого рода информации в существующем деловом обороте.
    </p>
    <p>
      6.1.4. В случае использования Сайтом информационных систем обработки
      персональных данных, Администрация сайта осуществляет внутренний контроль
      за соответствием обработки персональных данных законодательству и принятым
      в соответствии с ним нормативным правовым актам в порядке, установленном
      постановлением Правительства Российской Федерации от 1 ноября 2012 г. .№
      1119 утверждении требований к защите персональных данных при их обработке
      в информационных системах персональных данных.
    </p>
    <p>
      6.1.5. По требованию субъекта персональных данных Администрация сайта
      производит уничтожение ранее обработанных данных субъекта и уведомляет его
      о выполнении такого требования.
    </p>
    <p>
      6.2. Пользователь обязан добросовестно относится к охране собственной
      персональной информации и без своего согласия не передавать ее никаким
      сервисам и ресурсам третьих лиц, которые могут располагать информацию о
      себе на Сайте.
    </p>
    <p></p>
    <p>7. ОТВЕТСТВЕННОСТЬ СТОРОН</p>
    <p>
      7.1. Администрация сайта несет ответственность за убытки, понесенные
      Пользователем в связи с неправомерным использованием персональных данных,
      в соответствии с действующим законодательством Российской Федерации,
      только в случае прямых виновных и доказанных противоправных действий
      Администрации.
    </p>
    <p>
      7.2. В случае утраты или разглашения Конфиденциальной информации
      Администрация Сайта не несет ответственности, если данная конфиденциальная
      информация:
    </p>
    <p>7.2.1. Стала публичным достоянием до ее утраты или разглашения.</p>
    <p>
      7.2.2. Была получена от третьей стороны до момента ее получения
      Администрацией Сайта.
    </p>
    <p>7.2.3. Была разглашена с согласия Пользователя.</p>
    <p>
      7.2.4. Была разглашена сторонними сайтами и сервисами, ссылки на
      использование которых присутствуют на Сайте, в случае использования таких
      ссылок и сервисов Пользователем.
    </p>
    <p>
      7.2.5. В случаях, предусмотренных пунктами 5.2, 5.3 настоящей Политики
      конфиденциальности.
    </p>
    <p>
      7.3. Пользователь самостоятельно несет ответственность за возможные
      последствия, в случае представления недостоверных и/или неполных
      персональных данных.
    </p>
    <p></p>
    <p>8. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</p>
    <p>
      8.1. Администрация Сайта вправе вносить изменения в настоящую Политику
      конфиденциальности без согласия и уведомления Пользователя.
    </p>
    <p>
      8.2. Изменения Политики конфиденциальности вступают в силу с момента их
      размещения на Сайте.
    </p>
    <p>
      8.3. Действующая Политика конфиденциальности размещена на Сайте в
      информационно телекоммуникационной сети Интернет по адресу: <a href='https://www.chessmartashop.com/'>https://www.chessmartashop.com/</a>.
    </p>
    <p></p>
  </div>
</Layout>

<style>
  .container {
    margin-top: 76px;
    background-color: #ffffff;
    padding: 20px;
  }
  .container p {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    color: #000000;
    background-color: #ffffff;
  }

  h2 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
  }
</style>
