<div
  id="faq"
  class="bg-black lg:bg-[url('/src/images/faq.jpeg')] lg:bg-cover lg:bg-center lg:bg-no-repeat lg:h-[642px] lg:p-5"
>
  <div
    id="accordion-color"
    data-accordion="collapse"
    data-active-classes="bg-grey-100 text-white"
    class="max-w-xl mx-auto bg-black lg:p-5 lg:mt-24 lg:mb-10"
  >
    <h2
      class="text-3xl tracking-tight text-white text-center sm:text-4xl mb-10"
    >
      Частые вопросы
    </h2>
    <div class="lg:mb-10">
      <h2 id="accordion-color-heading-1">
        <button
          type="button"
          class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-1 border-gray-600 gap-3"
          data-accordion-target="#accordion-color-body-1"
          aria-controls="accordion-color-body-1"
        >
          <span>Можно ли оплатить из-за границы?</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0 text-orange-600"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-color-body-1"
        class="hidden"
        aria-labelledby="accordion-color-heading-1"
      >
        <div class="p-5">
          <p class="mb-2 text-gray-400 dark:text-gray-400">
            Да, напишите мне в <a
              href="https://t.me/shokomarta"
              target="_blank"
              class="hover:underline me-4 md:me-6 text-blue-500"
            >
              телеграмм
            </a>
          </p>
        </div>
      </div>
      <h2 id="accordion-color-heading-2">
        <button
          type="button"
          class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 text-left border border-b-1 border-gray-600 gap-3"
          data-accordion-target="#accordion-color-body-2"
          aria-controls="accordion-color-body-2"
        >
          <span>Сколько доступны уроки?</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0 text-orange-600"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-color-body-2"
        class="hidden"
        aria-labelledby="accordion-color-heading-2"
      >
        <div class="p-5">
          <p class="mb-2 text-gray-400 dark:text-gray-400">
            6 месяцев, но можно будет продлить за отдельную плату
          </p>
        </div>
      </div>

      <h2 id="accordion-color-heading-3">
        <button
          type="button"
          class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-1 border-gray-600 gap-3"
          data-accordion-target="#accordion-color-body-3"
          aria-controls="accordion-color-body-3"
        >
          <span> Есть ли оффлайн обучение? </span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0 text-orange-600"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-color-body-3"
        class="hidden"
        aria-labelledby="accordion-color-heading-3"
      >
        <div class="p-5">
          <p class="mb-2 text-gray-400 dark:text-gray-400">
            Да, напишите мне в
            <a
              href="https://t.me/shokomarta"
              target="_blank"
              class="hover:underline me-4 md:me-6 text-blue-500"
            >
              телеграмм
            </a>
          </p>
        </div>
      </div>

      <h2 id="accordion-color-heading-4">
        <button
          type="button"
          class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-1 border-gray-600 gap-3"
          data-accordion-target="#accordion-color-body-4"
          aria-controls="accordion-color-body-4"
        >
          <span>Сколько длится курс? </span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0 text-orange-600"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-color-body-4"
        class="hidden"
        aria-labelledby="accordion-color-heading-4"
      >
        <div class="p-5">
          <p class="text-gray-400 dark:text-gray-400">
            Все уроки будут открыты, так что сроки прохождения обучения зависят
            от вас
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
