<section id="features">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight text-white uppercase">
        Что вас ждет на курсе?
      </h2>
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-12 md:space-y-0"
    >
      <div class="border-b border-gray-700">
        <div
          class="flex items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-6 h-6 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M25.0007 3.33276H15.0007C6.66732 3.33276 3.33398 6.6661 3.33398 14.9994V24.9994C3.33398 31.2994 5.23399 34.7494 9.76732 36.0328C10.134 31.6994 14.584 28.2827 20.0007 28.2827C25.4173 28.2827 29.8673 31.6994 30.234 36.0328C34.7673 34.7494 36.6673 31.2994 36.6673 24.9994V14.9994C36.6673 6.6661 33.334 3.33276 25.0007 3.33276ZM20.0007 23.6161C16.7007 23.6161 14.034 20.9328 14.034 17.6328C14.034 14.3328 16.7007 11.6661 20.0007 11.6661C23.3007 11.6661 25.9673 14.3328 25.9673 17.6328C25.9673 20.9328 23.3007 23.6161 20.0007 23.6161Z"
              stroke="#F6F6F6"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold text-orange-600">
          Опытный наставник
        </h3>
        <p class="text-gray-300 mb-10">
          Узнаете секреты создания шахмат от опытного мастера и тренера
          с широкой аудиторией
        </p>
      </div>
      <div class="border-b border-gray-700">
        <div
          class="flex items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-6 h-6 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.034 32.9165C13.6007 32.9165 12.1673 32.2332 10.8006 30.8665L4.11732 24.1832C2.76732 22.8332 2.08398 21.4165 2.08398 19.9498C2.08398 18.4998 2.76732 17.0665 4.11732 15.7165L15.2507 4.58317C15.484 4.34984 15.8007 4.21655 16.134 4.21655C16.4673 4.21655 16.784 4.34984 17.0173 4.58317L29.2673 16.8331C29.8007 17.3665 30.1007 18.0665 30.1007 18.8331C30.1007 19.5831 29.8007 20.2998 29.2673 20.8332L19.234 30.8665C17.9007 32.2332 16.4673 32.9165 15.034 32.9165ZM16.1506 7.2498L5.90065 17.4998C5.03399 18.3665 4.60065 19.1998 4.60065 19.9665C4.60065 20.7331 5.03399 21.5664 5.90065 22.4164L12.584 29.0998C14.334 30.8498 15.7507 30.8498 17.5007 29.0998L27.534 19.0665C27.634 18.9665 27.6507 18.7165 27.534 18.5998L16.1506 7.2498Z"
              fill="#F6F6F6"></path>
            <path
              d="M16.1491 6.73306C15.8324 6.73306 15.5158 6.61645 15.2658 6.36645L13.0324 4.13307C12.5491 3.64974 12.5491 2.84974 13.0324 2.36641C13.5158 1.88307 14.3158 1.88307 14.7991 2.36641L17.0324 4.59978C17.5158 5.08312 17.5158 5.88311 17.0324 6.36645C16.7824 6.61645 16.4658 6.73306 16.1491 6.73306Z"
              fill="#F6F6F6"></path>
            <path
              d="M3.45265 21.1164C2.78599 21.1164 2.23599 20.5997 2.20265 19.9164C2.16932 19.233 2.70265 18.6497 3.40265 18.6163L28.6193 17.5164C29.3027 17.483 29.886 18.0163 29.9193 18.7163C29.9527 19.3997 29.4193 19.983 28.7193 20.0164L3.50265 21.1164C3.48598 21.1164 3.46932 21.1164 3.45265 21.1164Z"
              fill="#F6F6F6"></path>
            <path
              d="M26.6667 37.9165H5C4.31667 37.9165 3.75 37.3498 3.75 36.6665C3.75 35.9832 4.31667 35.4165 5 35.4165H26.6667C27.35 35.4165 27.9167 35.9832 27.9167 36.6665C27.9167 37.3498 27.35 37.9165 26.6667 37.9165Z"
              fill="#F6F6F6"></path>
            <path
              d="M31.4173 34.7166C29.034 34.7166 27.084 32.7667 27.084 30.3833C27.084 27.9667 29.934 24.7667 30.5006 24.1333C30.9673 23.6167 31.8673 23.6167 32.334 24.1333C32.9007 24.75 35.7506 27.95 35.7506 30.3667C35.7506 32.7833 33.8006 34.7166 31.4173 34.7166ZM31.4173 26.9501C30.5006 28.1501 29.584 29.6167 29.584 30.4C29.584 31.4167 30.4006 32.2333 31.4173 32.2333C32.434 32.2333 33.2507 31.4167 33.2507 30.4C33.2507 29.6 32.334 28.1335 31.4173 26.9501Z"
              fill="#F6F6F6"></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold text-orange-600">
          Теория и практика
        </h3>
        <p class="text-gray-300 mb-10">
          Курс сочетает в себе теоретические знания и практические навыки,
          необходимые для работы с деревом и эпоксидной смолой
        </p>
      </div>
      <div class="border-b border-gray-700">
        <div
          class="flex items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-6 h-6 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.6513 19.7996C18.7513 19.7996 17.8346 19.6329 17.118 19.3163L7.28464 14.9496C4.78464 13.8329 4.41797 12.3329 4.41797 11.5163C4.41797 10.6996 4.78464 9.19959 7.28464 8.08293L17.118 3.71626C18.568 3.06626 20.7513 3.06626 22.2013 3.71626L32.0513 8.08293C34.5346 9.18293 34.918 10.6996 34.918 11.5163C34.918 12.3329 34.5513 13.8329 32.0513 14.9496L22.2013 19.3163C21.468 19.6496 20.568 19.7996 19.6513 19.7996ZM19.6513 5.73293C19.0846 5.73293 18.5346 5.81626 18.1346 5.99959L8.3013 10.3663C7.28464 10.8329 6.91797 11.2996 6.91797 11.5163C6.91797 11.7329 7.28463 12.2163 8.28463 12.6663L18.118 17.0329C18.918 17.3829 20.368 17.3829 21.168 17.0329L31.018 12.6663C32.0346 12.2163 32.4013 11.7329 32.4013 11.5163C32.4013 11.2996 32.0346 10.8163 31.018 10.3663L21.1846 5.99959C20.7846 5.83293 20.218 5.73293 19.6513 5.73293Z"
              fill="#F6F6F6"></path>
            <path
              d="M20 28.4829C19.3667 28.4829 18.7333 28.3496 18.1333 28.0829L6.81667 23.0496C5.1 22.2996 3.75 20.2162 3.75 18.3329C3.75 17.6496 4.31667 17.0829 5 17.0829C5.68333 17.0829 6.25 17.6496 6.25 18.3329C6.25 19.2496 7 20.3996 7.83333 20.7829L19.15 25.8162C19.6833 26.0496 20.3 26.0496 20.85 25.8162L32.1667 20.7829C33 20.4162 33.75 19.2496 33.75 18.3329C33.75 17.6496 34.3167 17.0829 35 17.0829C35.6833 17.0829 36.25 17.6496 36.25 18.3329C36.25 20.2162 34.9 22.2996 33.1833 23.0662L21.8667 28.0996C21.2667 28.3496 20.6333 28.4829 20 28.4829Z"
              fill="#F6F6F6"></path>
            <path
              d="M20 36.8162C19.3667 36.8162 18.7333 36.6829 18.1333 36.4162L6.81667 31.3829C4.95 30.5495 3.75 28.6995 3.75 26.6495C3.75 25.9662 4.31667 25.3995 5 25.3995C5.68333 25.3995 6.25 25.9829 6.25 26.6662C6.25 27.7162 6.86667 28.6829 7.83333 29.1162L19.15 34.1495C19.6833 34.3829 20.3 34.3829 20.85 34.1495L32.1667 29.1162C33.1333 28.6829 33.75 27.7329 33.75 26.6662C33.75 25.9829 34.3167 25.4162 35 25.4162C35.6833 25.4162 36.25 25.9829 36.25 26.6662C36.25 28.7162 35.05 30.5662 33.1833 31.3995L21.8667 36.4329C21.2667 36.6829 20.6333 36.8162 20 36.8162Z"
              fill="#F6F6F6"></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold text-orange-600">
          База полезных ресурсов
        </h3>
        <p class="text-gray-300 mb-10">
          Эксклюзивные ссылки на проверенные материалы и инструменты, которые
          облегчат вам процесс создания шахмат
        </p>
      </div>
      <div class="border-b border-gray-700">
        <div
          class="flex items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-6 h-6 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M35.0007 33.7495H18.334C17.6507 33.7495 17.084 33.1828 17.084 32.4995C17.084 31.8162 17.6507 31.2495 18.334 31.2495H35.0007C35.684 31.2495 36.2507 31.8162 36.2507 32.4995C36.2507 33.1828 35.684 33.7495 35.0007 33.7495Z"
              fill="#F6F6F6"></path>
            <path
              d="M35.0007 22.0828H18.334C17.6507 22.0828 17.084 21.5161 17.084 20.8328C17.084 20.1494 17.6507 19.5828 18.334 19.5828H35.0007C35.684 19.5828 36.2507 20.1494 36.2507 20.8328C36.2507 21.5161 35.684 22.0828 35.0007 22.0828Z"
              fill="#F6F6F6"></path>
            <path
              d="M35.0007 10.4163H18.334C17.6507 10.4163 17.084 9.84959 17.084 9.16626C17.084 8.48293 17.6507 7.91626 18.334 7.91626H35.0007C35.684 7.91626 36.2507 8.48293 36.2507 9.16626C36.2507 9.84959 35.684 10.4163 35.0007 10.4163Z"
              fill="#F6F6F6"></path>
            <path
              d="M6.66641 12.0827C6.34974 12.0827 6.03307 11.9661 5.78307 11.7161L4.11641 10.0494C3.63307 9.56608 3.63307 8.76608 4.11641 8.28275C4.59974 7.79941 5.39974 7.79941 5.88307 8.28275L6.66641 9.06608L10.7831 4.94941C11.2664 4.46608 12.0664 4.46608 12.5497 4.94941C13.0331 5.43275 13.0331 6.23275 12.5497 6.71608L7.54974 11.7161C7.29974 11.9661 6.98307 12.0827 6.66641 12.0827Z"
              fill="#F6F6F6"></path>
            <path
              d="M6.66641 23.7495C6.34974 23.7495 6.03307 23.6328 5.78307 23.3828L4.11641 21.7162C3.63307 21.2328 3.63307 20.4328 4.11641 19.9495C4.59974 19.4662 5.39974 19.4662 5.88307 19.9495L6.66641 20.7328L10.7831 16.6162C11.2664 16.1328 12.0664 16.1328 12.5497 16.6162C13.0331 17.0995 13.0331 17.8995 12.5497 18.3828L7.54974 23.3828C7.29974 23.6328 6.98307 23.7495 6.66641 23.7495Z"
              fill="#F6F6F6"></path>
            <path
              d="M6.66641 35.416C6.34974 35.416 6.03307 35.2993 5.78307 35.0493L4.11641 33.3827C3.63307 32.8993 3.63307 32.0993 4.11641 31.616C4.59974 31.1327 5.39974 31.1327 5.88307 31.616L6.66641 32.3993L10.7831 28.2827C11.2664 27.7993 12.0664 27.7993 12.5497 28.2827C13.0331 28.766 13.0331 29.566 12.5497 30.0493L7.54974 35.0493C7.29974 35.2993 6.98307 35.416 6.66641 35.416Z"
              fill="#F6F6F6"></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold text-orange-600">Подробный план</h3>
        <p class="text-gray-300 mb-10">
          От покупки материалов до финального полирования — вы получите
          пошаговое руководство по созданию идеальных шахмат
        </p>
      </div>
    </div>
  </div>
</section>
