<div
  class="circle text-white font-medium text-sm px-0 py-0 text-center inline-flex items-center lg:rotate-12"
>
  <svg
    class="mt-1"
    width="44"
    height="42"
    viewBox="0 0 44 42"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M40 12.0031H32.6917C32.7729 11.9343 32.8563 11.8677 32.9354 11.7947C33.5681 11.2326 34.0781 10.546 34.4333 9.77776C34.7886 9.00956 34.9815 8.17632 35 7.33016C35.0274 6.40448 34.8653 5.48297 34.5236 4.62221C34.1819 3.76145 33.668 2.9796 33.0132 2.32467C32.3585 1.66973 31.5768 1.15552 30.7161 0.813614C29.8555 0.471706 28.934 0.309314 28.0083 0.336405C27.1618 0.354638 26.3282 0.547415 25.5596 0.902669C24.791 1.25792 24.104 1.76801 23.5417 2.40099C22.7637 3.30297 22.1311 4.32075 21.6667 5.41765C21.2023 4.32075 20.5697 3.30297 19.7917 2.40099C19.2293 1.76801 18.5423 1.25792 17.7737 0.902669C17.0052 0.547415 16.1715 0.354638 15.325 0.336405C14.3993 0.309314 13.4779 0.471706 12.6172 0.813614C11.7565 1.15552 10.9748 1.66973 10.3201 2.32467C9.66536 2.9796 9.15139 3.76145 8.80974 4.62221C8.46808 5.48297 8.30597 6.40448 8.33333 7.33016C8.35185 8.17632 8.54477 9.00956 8.90001 9.77776C9.25526 10.546 9.76519 11.2326 10.3979 11.7947C10.4771 11.8635 10.5604 11.9302 10.6417 12.0031H3.33333C2.44928 12.0031 1.60143 12.3543 0.976311 12.9794C0.351189 13.6045 0 14.4524 0 15.3364L0 22.0031C0 22.8871 0.351189 23.735 0.976311 24.3601C1.60143 24.9852 2.44928 25.3364 3.33333 25.3364V38.6697C3.33333 39.5538 3.68452 40.4016 4.30964 41.0268C4.93477 41.6519 5.78261 42.0031 6.66667 42.0031H36.6667C37.5507 42.0031 38.3986 41.6519 39.0237 41.0268C39.6488 40.4016 40 39.5538 40 38.6697V25.3364C40.8841 25.3364 41.7319 24.9852 42.357 24.3601C42.9821 23.735 43.3333 22.8871 43.3333 22.0031V15.3364C43.3333 14.4524 42.9821 13.6045 42.357 12.9794C41.7319 12.3543 40.8841 12.0031 40 12.0031ZM26.0417 4.60932C26.3056 4.318 26.6269 4.08436 26.9854 3.92304C27.3439 3.76171 27.7319 3.67619 28.125 3.67182H28.2271C28.6879 3.6747 29.1434 3.76952 29.5671 3.95072C29.9907 4.13192 30.3739 4.39586 30.6943 4.72706C31.0146 5.05827 31.2656 5.45008 31.4326 5.87954C31.5996 6.309 31.6792 6.76746 31.6667 7.22807C31.6623 7.62117 31.5768 8.00913 31.4155 8.36763C31.2541 8.72613 31.0205 9.04743 30.7292 9.31141C28.7521 11.0614 25.4708 11.6781 23.4375 11.8947C23.6875 9.68849 24.375 6.48224 26.0417 4.60932ZM12.6896 4.68432C13.3353 4.03868 14.2098 3.67405 15.1229 3.66974H15.225C15.6181 3.6741 16.0061 3.75963 16.3646 3.92095C16.7231 4.08228 17.0444 4.31592 17.3083 4.60724C19.0563 6.58224 19.6729 9.85724 19.8896 11.8822C17.8646 11.6739 14.5896 11.0489 12.6146 9.30099C12.3233 9.03702 12.0896 8.71571 11.9283 8.35721C11.767 7.99871 11.6814 7.61075 11.6771 7.21765C11.6642 6.74939 11.7465 6.28339 11.9191 5.84791C12.0917 5.41244 12.351 5.01657 12.6813 4.68432H12.6896ZM3.33333 15.3364H20V22.0031H3.33333V15.3364ZM6.66667 25.3364H20V38.6697H6.66667V25.3364ZM36.6667 38.6697H23.3333V25.3364H36.6667V38.6697ZM40 22.0031H23.3333V15.3364L40 15.3364V22.0031Z"
      fill="#F6F6F6"></path>
  </svg>
  <p class="text">Урок по съемке в подарок</p>
</div>

<style>
  .circle {
    width: 100px;
    height: 100px;
    background-color: rgb(240, 87, 16);
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .text {
    font-size: 11.5px;
  }
</style>
