<section>
  <div class="py-64 px-4 mx-auto max-w-screen-xl text-center">
    <h1
      class="mb-4 text-4xl tracking-tight leading-none md:text-5xl lg:text-6xl text-white"
    >
      Создай уникальные шахматы из дерева и эпоксидной смолы
    </h1>
    <p class="mb-8 text-lg font-normal text-white lg:text-xl sm:px-16 xl:px-48">
      Полный курс для тех, кто хочет научиться делать эксклюзивные шахматы
      своими руками и продавать их за высокую цену
    </p>
    <div
      class="flex flex-col mb-8 lg:mb-16 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
    >
      <button
        class="openModalBtn inline-flex justify-center items-center py-4 px-20 text-lg font-medium uppercase text-center text-white bg-orange-600 hover:bg-orange-500"
      >
        Выбрать курс
      </button>
    </div>
  </div>
</section>

<style>
  section {
    height: 100vh;
    background-image: url("../images/hero-section.webp");
    background-size: cover;
    background-position: top;
  }
</style>
