---
import { Image } from "astro:assets";
import chessImage from "../images/chess5.png";
---

<section class="py-8 bg-black md:py-16 dark:bg-gray-900 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <form>
        <h2
          class="text-3xl tracking-tight text-white text-center sm:text-4xl mb-6 mt-4"
        >
          Остались вопросы?
        </h2>
        <p class="mb-6 text-white">
          Оставьте заявку и мы свяжемся с вами в ближайшее время
        </p>
        <div class="mb-6">
          <label
            for="first_name"
            class="block mb-2 text-sm font-medium text-white">Ваше имя</label
          >
          <input
            type="text"
            id="first_name"
            class="bg-black border border-gray-500 text-white text-sm focus:ring-orange-500 rounded-sm focus:border-orange-500 block w-full p-2.5"
            required
          />
        </div>
        <div class="mb-6">
          <label
            for="email-question"
            class="block mb-2 text-sm font-medium text-gray-500 text-white"
            >Электронная почта</label
          >
          <input
            type="email"
            id="email-question"
            class="bg-black border border-gray-500 text-white text-sm focus:ring-orange-500 rounded-sm focus:border-orange-500 block w-full p-2.5"
            required
          />
        </div>

        <div class="mb-6">
          <label
            for="phone-question"
            class="block mb-2 text-sm font-medium text-gray-500 text-white"
            >Номер телефона</label
          >
          <input
            type="tel"
            id="phone-question"
            class="bg-black border border-gray-500 text-white text-sm focus:ring-orange-500 rounded-sm focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div class="mb-6">
          <label
            for="message-question"
            class="block mb-2 text-sm font-medium text-gray-500 text-white"
            >Сообщение</label
          >
          <textarea
            id="message-question"
            rows="4"
            class="bg-black block p-2.5 w-full text-sm text-white rounded-sm border border-gray-500 focus:ring-orange-500 focus:border-orange-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          ></textarea>
        </div>

        <!--  <div class="flex items-start mb-6">
          <div class="flex items-center h-5">
            <input
              id="remember-question"
              type="checkbox"
              class="w-4 h-4 border text-orange-500 border-orange-300 rounded bg-orange-50 focus:ring-3 focus:ring-orange-300"
              required
            />
          </div>
          <label for="remember-question" class="ms-2 text-sm font-medium text-white"
            >Нажимая Отправить, вы соглашаетесь с <a
              href="#"
              class="text-white underline">политикой конфиденциальности</a
            >.</label
          >
        </div> -->
        <button
          type="submit"
          class="text-white bg-orange-600 hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium text-sm w-full sm:w-auto px-5 py-2.5 text-center"
          >Отправить</button
        >
      </form>

      <div class="mt-0 sm:mt-8 lg:mt-24">
        <Image src={chessImage} alt="chess image" />
      </div>
    </div>
  </div>
</section>
